<p>error-form works!</p>
<p>error-page works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404</title>
  <link rel="stylesheet" href="error-page.component.css">
</head>
<body>
  <section class="error-404">
    <div class="container">
      <div class="content">
        <h2>404</h2>
        <h4>Oops! That page can’t be found</h4>
        <p>The page you are looking for may have been deleted</p>
        <a href="D:\24-DATA\project 2\skill-based-resume-generation-app\src\index.html">Go To Home</a>
      </div>
    </div>
  </section>
  <script src="error-page.component.ts"></script>
</body>
</html>
